{
  "presets": [
    "@babel/react",
    "@babel/typescript",
    "@babel/env"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}